.theme-box {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.theme-box:hover {
    cursor: pointer;
}