/* ConfirmDeleteHabit.css */

.overlay {
  position: fixed;       /* cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* semi-transparent dark background */
  display: flex;          /* center the modal */
  justify-content: center;
  align-items: center;
  z-index: 1000;          /* on top of everything */
}

.delete-confirm-container {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.action-buttons-div {
    display: flex;
    justify-content: end;
    gap: 7px;
}

.save-button {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(2, 74, 176);
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
    color: rgb(2, 74, 176);
}

.save-button:hover {
    background-color: rgb(2, 74, 176);
    color: white;
    cursor: pointer;
}

.cancel-button {
    background-color: white;
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.cancel-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.confirm-message {
    font-size: 15px;
}

.congrats-message-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.habit-input {
    padding: 7px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}