.habit-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.habit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.3);
    border-radius: 5px;
    padding: 10px;
}

.habit-completed {
    background-color: black;
    color: white;
}

.habit-actions-div {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.checkbox {
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
}
